.chatListaItem{
    display: flex;
    height: 70px;
    cursor: pointer;
    align-items: center;
}

.chatListaItem:hover{
    background-color: #f5f5f5;
}

.chatListaItem.active {
    background-color: #ebebeb;
}

.chatListaItem-avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 15px;
}

.chatListaItem-lines{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #eee;
    padding-right: 15px;
    margin-left: 15px;

    flex-wrap: wrap;
    min-width: 0;
}

.chatListaItem-line{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.chatListaItem-name{
    color: #000;
    font-size: 17px;

}

.chatListaItem-data{
    font-size: 12px;
    color: #999;
}

.chatListaItem-msg{
    display: flex;
    width: 100%;
    color: #999;
    font-size: 14px;
}

.chatListaItem-msg p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}